*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

table {
    width: 100%;
}

th {
    padding-block: 1rem;
    border: 2px solid gray;
    font-size: 24px;
}

table th:last-child {
    width: 190px;
    background-color: red;
}

tr {
    height: 50px;
    font-size: 30px;
    text-align: center;
}


.empdata {
    width: 300px;
    padding-block: 50px;
    margin-inline: auto;
}